<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>{{ LINKS_TITLE }}</h2>

                {{ LINKS_DESCRIPTION }}

                {{ LINKS_BUTTONS }}
                
                <p>
                <a href="https://twitter.com/milton_book10" class="btn btn-circle btn-lg">
                    <i class="fa fa-key animated"></i>     
                </a>
            </div>
        </div>
    </div>
</section>

