{% if INTROCOLOR is none %}
    {% set INTROCOLOR='#EEE' %}
{% endif %}

{% if ACOLOR is none %}
    {% set ACOLOR='#42DCA3' %}
{% endif %}

{% if AHOVERCOLOR is none %}
    {% set AHOVERCOLOR='#1D9B6C' %}
{% endif %}

.scuryv-knave-intro {
    color: {{ INTROCOLOR }};
}
a {
  color: {{ ACOLOR }};
}
a:hover,
a:focus {
  color: {{ AHOVERCOLOR }};
}
.btn-default {
  border: 1px solid {{ ACOLOR }};
  color: {{ ACOLOR }};
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid {{ ACOLOR }};
  outline: none;
  color: black;
  background-color: {{ ACOLOR }};
}

